#color-panel {
    margin-top: 1em;
}
.color-palette {
    margin-right: 0.5em;
    width: 30px;
    height: 30px;
    display: block;
    padding: 0px;
    float: left;
    border: 1px solid #aaa;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.black {
    background-color: black;
}
.clickedEraserButton {
    background-color: blue;
    color: white;
}
